# Exclude all dotfiles
.*
# Exclude all project files
*.njsproj
*.sln
tsconfig.json
tslint.json
typedoc.js
# Exclude package files
alcalzone-shared-*.tgz
# Exclude all folders we don't want in package.json
test/
tests/
src/
bin/
obj/
coverage/
maintenance/
docs/
# The build folder is split on CircleCI, so it shouldn't be included aswell
build/
